@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');


body,
input {
    font-family: "Euclid Circular A", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    font-weight: 400;
    overflow: auto;
}


a {
    text-decoration: none;
}

/*-------------------------------------------*
 *            sl-form                        *   
 *-------------------------------------------*/

.sl-select .form-button {
    margin-top: 14px;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    border: 0px;
    cursor: pointer;
    transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out;
    letter-spacing: 0.6px;
    font-size: 16px;
    outline: none;
}

.sl-select .form-button:hover {
    box-shadow: inset 0 0 0 150px rgba(0, 0, 0, .1);
}

.sl-select .form-button:active {
    box-shadow: inset 0 0 0 150px rgba(0, 123, 173, .15);
}

.sl-select .form-button.green {
    background-color: #10a37f;
    color: white;
}

.sl-select .form-button.blue {
    background-color: #c1dfeb;
    color: #2a2b2c;
    border: solid 1px #b1cfdb;
}

/*-------------------------------------------*
 *            sl-popup                       *   
 *-------------------------------------------*/
.sl-popup-00-wrapper {
    position: relative;
    font-size: 14px;
}

.sl-popup-00-absolute-wrapper {
    position: absolute;
    top: 0px;
    left: -5px;
    padding: 3px 5px 5px 5px;
    pointer-events: none;
    overflow: hidden;
    width: inherit;
}

.sl-popup-00-wrapper.open .sl-popup-00-absolute-wrapper {
    pointer-events: auto;
}

.sl-popup-00 {
    width: max-content;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #dadbdc;
    border-radius: 5px;
    background-color: white;
    transform: translateY(-20px);
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    opacity: 0;
    user-select: none;
}

.sl-popup-00-wrapper.open .sl-popup-00 {
    transform: translateY(0px);
    opacity: 1;
}

/*-------------------------------------------*
 *            sl-menu                        *   
 *-------------------------------------------*/
.sl-menu-00-wrapper {
    position: relative;
    cursor: pointer;
    user-select: none;
}

.sl-menu-00-wrapper>div:first-child {
    display: flex;
    flex-wrap: nowrap;
    height: 26px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: #404142;
    font-size: 14.5px;
    width: inherit;
}

.sl-menu-00-wrapper>div:first-child:hover {
    color: #067a97;
}

.sl-menu-00-wrapper.open>div:first-child {
    color: #067a97;
}

.sl-menu-00-wrapper>div:first-child>span:last-child {
    position: relative;
    top: 2px;
    left: 3px;
}

.sl-menu-00-wrapper>div:first-child:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0px;
    height: 3px;
    width: 80%;
    background-color: transparent;
    border-radius: 1.5px;
    z-index: 10;
    transition: all 0.25s ease-in-out;
}

.sl-menu-00-wrapper>div:first-child:hover:before {
    background-color: #c1dfeb;
    width: 100%;
}

.sl-menu-00-wrapper.open>div:first-child::before {
    background-color: #3da7d1;
    width: 100%;
}

.sl-menu-00 {
    width: max-content;
    display: flex;
    flex-direction: column;
}


.sl-menu-00 a {
    display: flex;
    align-items: center;
    background-color: white;
    height: 50px;
    padding: 0px 15px;
    color: #2a2b2c;
    transition: all 0.25s ease-in-out;
    border-bottom: solid 1px #e2e2e2;
    letter-spacing: 0.2px;
}


.sl-menu-00 a::before {
    position: relative;
    top: 0px;
    left: -15px;
    content: '';
    width: 4px;
    border-radius: 0px 4px 4px 0px;
    height: 22px;
    background-color: transparent;
    transition: all 0.25s ease-in-out;
}

.sl-menu-00 a:hover::before {
    background-color: #2982a5;
}

.sl-menu-00 a:hover {
    background-color: #eee;
    color: #3286a7;
}

.sl-menu-00 .icon-linkout {
    margin-left: 3px;
    color: #2082a8;
}

/*-------------------------------------------*
 *            sl-select                      *   
 *-------------------------------------------*/

.sl-select-00 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.sl-select-00>div:first-child {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 26px;
    align-items: center;
    user-select: none;
    border: solid 1px #aaa;
    border-radius: 3px;
    height: 26px;
    color: #404142;
    font-size: 14px;
    cursor: pointer;
    padding-left: 6px;
    transition: all 0.35s ease-in-out;
}

.sl-select-00.open>div:first-child {
    color: #1b6ab9;
    outline-offset: 0px;
    outline: solid #1b6ab9 1px;
}

.sl-select-00>div:first-child:hover {
    color: #1b6ab9;
}

.sl-select-00>div:first-child>span:last-child {
    height: 100%;
    width: 17px;
    background: #e8e9eb;
    color: #404142;
    border-left: solid 1px #cececf;
    transition: all 0.25s ease-in-out;
}

.sl-select-00>div:first-child:hover>span:last-child {
    color: #1b6ab9;
    background: #dde0e2;
    border-left: solid 1px #b6b6b8;
}

.sl-select-00>div:first-child>span:last-child>svg {
    position: relative;
    top: 5px;
    left: 1px;
}

.sl-select-00 .sl-popup-00 {
    cursor: pointer;
}

.sl-select-00 .sl-popup-00>div {
    color: #404242;
    line-height: 26px;
    padding: 0px 4px 0px 6px;
    border-width: 1px 0px;
    border-style: solid;
    border-color: transparent;
    transition: all 0.15s ease-in-out;

}

.sl-select-00 .sl-popup-00>div:hover {
    background-color: #eaf1f5;
    color: rgb(10, 93, 160);
    border-width: 1px 0px;
    border-style: solid;
    border-color: #e8ecec;
}