input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #2d333a !important;
}

.labelled-input>div:first-child {
    position: relative;
    margin-top: 14px;
    margin-left: 0px;
    width: 100%;
}

.labelled-input:focus-within .lbld-input {
    border-color: #10a37f;
}

.lbld-input {
    height: 50px;
    min-width: 250px;
    width: 100%;
    outline: none;
    border-radius: 3px;
    border: solid 1px #c2c8d0;
    font-size: 17px;
    background-color: transparent;
    color: #2d333a;
    padding-left: 16px;
    padding-right: 10px;
    box-sizing: border-box;
}

.lbld-label {
    height: 16px;
    color: #6f7780;
    letter-spacing: 0.2px;
    position: absolute;
    line-height: 17px;
    font-size: 17px;
    top: calc(50% - 8px);
    transition: top .15s ease-in-out, left 0.15s ease-in-out;
    left: 22px;
    z-index: -1;
}

.lbld-label.focused {
    color: #10a37f;
}

.labelled-input.error .lbld-invalid-input {
    display: flex;
}


.labelled-input.error .lbld-input {
    border-color: #d00e17;
}

.labelled-input.error .lbld-label.labellized {
    color: #d00e17;
}

.lbld-label.labellized {
    background-color: white;
    z-index: 0;
    padding: 0px 4px;
    font-size: 15px;
    line-height: 15px;
    left: 10px;
    top: -8px;
}

.lbld-label {
    color: #6f7780;
}

.lbld-invalid-input {
    display: none;
    margin-top: 3px;
    position: relative;
    align-items: center;
    font-size: 12px;
    color: #d00e17;
}

.lbld-invalid-input>span {
    width: 16px;
    height: 16px;
    background-image: url('./assets/img/warning_red.svg');
    margin: 0px 5px 3px 5px;

}

.lbld-eye {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 48px;
    height: 50px;
    display: flex;
    padding-right: 3px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.25s ease-in-out, box-shadow .25s ease-in-out;
    border-left: solid 1px #d4e1f0;
    user-select: none;
    box-sizing: border-box;

}

.lbld-input[type='password'] {
    padding-right: 56px;
    letter-spacing: 2.5px;
    font-size: 18px;
}

.lbld-input[type="text"].password {
    letter-spacing: 0.3px;
    width: 100%;
    padding-right: 56px;
}

.lbld-eye.hidden {
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 150px inset;
}

.lbld-eye.visible {
    background-color: rgba(0, 123, 173, .15);
    box-shadow: rgba(201, 207, 218, 0.1) 0px 0px 0px 150px inset;
}

.lbld-eye.visible:hover {
    background-color: rgba(0, 123, 173, .2);
}

.lbld-eye.hidden:hover {
    background-color: rgba(201, 207, 218, 0.2);
}

.lbld-eye:hover .tooltip {
    opacity: 1;
}

.lbld-password-info {
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    border: 1px solid #c2c8d0;
    border-radius: 3px;
    margin-top: 8px;
    padding: 14px 16px;
}

.lbld-pswOK {
    color: #0a8852;
}

.lbld-password-info>div {
    margin-left: 5px;
}

.lbld-password-info>div>span {
    font-size: 16px;
}

.lbld-password-info-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
}

.lbld-password-info-wrapper.activate {
    max-height: 500px;
}

.lbld-password-info-wrapper.activate .lbld-password-info {
    opacity: 1;
}

.lbld-password-info-wrapper.error .lbld-password-info {
    opacity: 1;
}

.lbld-password-info-wrapper.error {
    max-height: 500px;
}

.lbld-password-info-wrapper.error .lbld-password-info>div {
    color: #d00e17;
}