.tooltip {
    opacity: 0%;
    position: absolute;
    bottom: calc(100% + 5px);
    right: -50%;
    min-width: 80px;
    width: fit-content;
    color: #f1f2f3;
    background-color: black;
    border-radius: 3px;
    font-size: 12px;
    padding: 8px;
    text-align: center;
    pointer-events: none;
    transition: opacity 0.25s ease-in-out;
}

.tooltip:before {
    content: "";
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    left: 50%;
    width: 0;
    height: 0;
    border-color: #000 transparent transparent;
    border-style: solid;
    border-width: 8px 8px 0px;
}